<!DOCTYPE html>
<html lang="en">
	
	<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<meta content="index,follow" name="robots"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="home" name="keywords"/>
<!-- for the mobile/print and reset purpose -->
    <link href="/assets/cript/reset.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/assets/cript/mobile.css" id="mobileStyle" media="only screen and (max-width:550px)" rel="stylesheet" type="text/css"/>
    <link href="/assets/cript/print.css" media="print" rel="stylesheet" type="text/css"/>
<!--title>Home</title-->
    <title>{{ page.title }}</title>
<!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
<!--scripts-->
		<script src="/assets/cript/jquery.min.js"></script>
		<script src="/assets/cript/jquery.dropotron.min.js"></script>
		<script src="/assets/cript/mobile-menu.js"></script>
    		<script src="/assets/cript/featureboxes.js"></script>
		<script src="/assets/cript/jquery.scrollex.min.js"></script>
		<script src="/assets/cript/skel.min.js"></script>
		<script src="/assets/cript/util.js"></script> 
		<script type="text/javascript">
       			 var googleSearchToggleOptions = {
            		 searchResultsUrl: 'search.php',
            		 searchId: 'cse-search-form',
                        searchResultsId: 'cse-search-results-form'
        			};
   		</script>

	</head>
	
		
    <body>
	    
	   <nav>
			<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
		        </ul>
	    
		    <h3 class="text-muted"><a href="/">EA-LW-ED-JW-NT</a></h3>
	   
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
      <footer>
	    		<ul>
	        		<li><a href="mailto:ArdaLab@example.com">email</a></li>
	        		<li><a href="https://github.com/ArdaLab">github.com/ArdaLab</a></li>
				</ul>
			</footer>
		</body>
	
  </html>
